
The Argent Tournament/.vs/The Argent Tournament/v15/Server/sqlite3/storage.ide
The Argent Tournament/.vs/The Argent Tournament/v15/Server/sqlite3/db.lock
/The Argent Tournament/Assets/etc.meta
/The Argent Tournament/.vs/The Argent Tournament/v15/Server/sqlite3
/The Argent Tournament/UnityPackageManager
/The Argent Tournament/The Argent Tournament.sln
/The Argent Tournament/The Argent Tournament.csproj
/The Argent Tournament/Temp
/The Argent Tournament/Library
